body{
	font-family: 'Arial', sans-serif;
	
}

.container{
	width: 89%;
	margin:  0 100px;
	
}

.header{
	padding-bottom: 30px;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}

.btn{
	display: inline-block;
	vertical-align: top;
	color: #fad6d6;
	background: #e43030;
	border-radius: 3px;
	outline: none;
	border: 0;
	padding: 8px 20px;
	font-size: 14px;
	font-weight: 700;
	box-shadow: 0px 20px 20px  #efa2a2;
}


/* Nav */


.nav{
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link{
	display: inline-block;
	margin-left: 40px;
	color: #48494a;
	font-weight: 700;
	position: relative;
	text-decoration: none;
}

.block{
	background: #f1f1f1;
	height: 575px;
}

.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Card */

.card{
	padding-top: 30px;
	margin-right: 20px;
}

.all{
	display: flex;
}

.card__inner{
	background: 
	linear-gradient(
		rgba(255,255,255,0.01), 
		rgba(0,0,0,0.7)), 
	url(../img/Wezom.png) center no-repeat;
	width: 335px;
	height: 242px;
}

.card__label{
	margin-left: 33px ;
	padding-top: 18px;
}

.card__text{
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding-top: 158px;
	margin-left: 20px;
	margin-bottom: 15px;
}

.qwerty{
	margin-bottom: -5px;
	bottom: 17px;
}

.card__yellow{
	background: #fffbd7;
	padding: 8px;	
}

.card__adress{
	color: #858686;
	padding: 10px;
	margin-left: 13px;
	display: flex;
}

.card__logo{
	width: 26px;
	height: 25px;
	padding-top: 13px;
	margin-left: 8px;
}

.card__price{
	padding: 0px;
	letter-spacing: 0.1em;
	margin-left: 25px;
	padding-bottom: 30px;
}

.card__solutions{
	color: #858686;
	font-size: 13px;

}

.card__under{
	background: #fff;
	box-shadow: 2px 5px 18px -3px rgba(108,108,108,0.75);
}

.card__like i {
	background: rgba(0,0,0,0.3);
	padding: 5px;
	color: #fff;
	margin-left: 280px;
	position: absolute;
	top: 210px;
}	


/* Footer */

.footer{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.social{
	display: flex;	
	
}

.social__text{
	color: #999ea5;
	font-weight: 700;
}

.social__txt{
	color: #80868e;
	font-size: 12px;
}

.social__link{
	color: #ffd100;
	margin-right: 25px;
	font-size: 20px;
	text-decoration: none;
}

.social__data{
	margin-left: auto;
	display: flex;
}

.social__img{
	height: 50px;
	margin-top: 7px;
	margin-right: 10px;
}

@media screen and (max-width: 375px){
	.all{
		
		flex-direction: column;
			
		
	}

	.card{
		margin-left: auto;
   	 	margin-right: auto;
   	 	padding: 100px;
	}

	.block{
		height: 1950px;
	}

	.nav{
		width: 100%;
		text-align: center;
		display: block;
		
	}.nav{
		width: 100%;
		text-align: center;
		display: block;
		
	}

}

@media screen and (min-width: 321px){
	.all{
		
		flex-direction: column;
			
		
	}

	.card{
		margin-left: auto;
   	 	margin-right: auto;
   	 	padding: 100px;
	}

	.block{
		height: 1950px;
	}

	.nav{
		width: 100%;
		text-align: center;
		display: block;
		
	}

	.card__like i{
		top: 280px;
	}

}

/* Offer */


.offer{
	background: #fafafa;
	width: 1000px;
	padding-right: 75px;
	height: 600px;
	margin-left: -100px;
	padding-left: 100px;
}

.offer__list{
	display: flex;
	justify-content: space-between;
}

.offer__list__item{
	height: 400px;
	width: 45%;
}


.offer__girl{
	background: linear-gradient(
		rgba(255,255,255,0.01), 
		rgba(0,0,0,0.7)),  
	url(../img/girl.png)center no-repeat;
	width: 450px;
	height: 250px;
	position: relative;	
}

.offer__city{
	background: linear-gradient(
		rgba(255,255,255,0.01), 
		rgba(0,0,0,0.7)), 
	url(../img/city.png)center no-repeat;
	width: 450px;
	height: 250px;
	position: relative;
}

.offer__title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: 14px;
	padding-top: 196px;
}

.offer__under{
	background: #fff;
	box-shadow: 2px 5px 18px -3px rgba(108,108,108,0.75);
	width: 450px;
	height: 111px;

}

.offer__text{
	color: #48484e;
	font-size: 14px;
	position: relative;
	padding: 10px;
	height: auto;
	box-sizing: border-box;
	padding-bottom: 40px;
}

.offer__text p{
	height: 100%;
	min-height: 100px;
}

.offer__data{
	color: #999aa9;
	font-size: 12px;
}


/* Connection */

.connection__inner{
	background: #f1f1f1;
	height: 600px;
	margin-top: -21px;
	width: 492px;

}

.connection__sub{
	padding-top: 130px;
}

.connection__text{
	padding-left: 80px;
}

.email{
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	padding: 22px 150px 22px 20px;
	width: 300px;
	box-shadow: 2px 6px 18px -3px silver;
}

.connection__mail{
	margin-top: 60px;
	padding-left: 80px;
}

.planet{
	display: flex;
	justify-content: space-between;
}

.connection__btn{
	text-transform: uppercase;
	outline: none;
	border: none;
	background: #ff0000;
	color: #fff;
	padding: 20px 95px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.02em;
	margin-top: 30px;
	margin-left: 80px;
}
